body{
    background-color: #D1B3C4;
    height:1000px;
}
.header{
    background-color: #B392AC;
    width: 100%;
    height: 80px;
}
.logo{
    position: absolute;
    width: 155px;
    height: 57px;
    top:15px;
    left: 45px;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
h1{
    width: 700px;
    left: 34%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top:43px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 25px;
    text-align: right;
    text-indent: 40%;
    color: #463649;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
form {
    position: relative;
    top: 20%;
    left: 36%;
    width: 550px;
    margin: 0 auto;
  }
  .select_wrp {
      position: absolute;
    width: 250px;
    left: 80%;
    top: 3%
}
.book1{
    position: absolute;
    top: 120px;
    left: 70px;
}
.book2{
    position: absolute;
    top: 120px;
    left: 350px;
}
.book3{
    position: absolute;
    top: 120px;
    left: 630px;
}
.book4{
    position: absolute;
    top: 120px;
    left: 915px;
}
.book5{
    position: absolute;
    top: 120px;
    left: 1200px;
}
.book6{
    position: absolute;
    top: 500px;
    left: 350px;
}
.book7{
    position: absolute;
    top: 500px;
    left: 630px;
}
.book8{
    position: absolute;
    top: 500px;
    left: 915px;
}
footer{
    position: absolute;
    width: 100%;
    height: 107px;
    top:130%;
    background: #B392AC;
}
.phone{
    font-family: Comfortaa;
    position: absolute;
    font-size: 24px;
    top: 54%;
    left: 18%;
    margin-right: 25%;
    transform: translate(-50%, -50%);
}
.icon1{
    position: absolute;
    width: 20px;
    top: 50%;
    left: 29%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.insta{
    font-family: Comfortaa;
    position: absolute;
    font-size: 24px;
    top: 50%;
    left: 29.5%;
    margin-right: 50%;
    transform: translate(-50%, -50%)
}
.icon2{
    position: absolute;
    top: 50%;
    left: 43.5%;
    margin-right: 50%;
    transform: translate(-50%, -50%)
}
.mail{
    font-family: Comfortaa;
    position: absolute;
    top: 50%;
    font-size: 22px;
    width: 650px;
    left: 59%;
    margin-right: 50%;
    transform: translate(-50%, -50%)
}
.icon3{
    position: absolute;
    top: 50%;
    left: 55.5%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
}